!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
    %title= data['Title']
  %body
    %section
      %h1= data.delete('Title')
      %ul
        - renderURL = data.delete('RenderURL')
        - data.each do |k, v|
          %li.links
            %strong
              %a{:href => "/#{k.slugify}"}><
                = k
            &nbsp;
            - v.each do |kk, vv|
              %a{:href => "/#{k.slugify}\##{kk.slugify}"}<
                = kk
              &nbsp;